name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-module:
    strategy:
      matrix:
        include:
          - os: macos-latest
          - os: ubuntu-latest
            container:
              image: ghcr.io/viamrobotics/rdk-devenv:amd64
              options: --platform linux/amd64
          - os: buildjet-8vcpu-ubuntu-2204-arm
            container:
              image: ghcr.io/viamrobotics/rdk-devenv:arm64
              options: --platform linux/arm64

    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install deps (mac)
        if: matrix.os == 'macos-latest'
        run: brew install python@3.11 portaudio

      - name: Install deps (linux)
        if: contains(matrix.os, 'ubuntu')
        run: |
          sudo apt update -y
          apt upgrade -y
          apt install -y cmake python3.11 python3.11-venv wget libasound-dev portaudio19-dev

      - name: Set up python/conan
        run: |
          python3 -m venv venv && . ./venv/bin/activate
          python3 -m pip install conan
          conan profile detect
          conan remote add viamconan https://viam.jfrog.io/artifactory/api/conan/viamconan --index 0

      - name: Build package and module
        run: |
          . ./venv/bin/activate
          conan create . -o:a "viam-cpp-sdk/*:shared=False" -s:a build_type=Release -s:a compiler.cppstd=17 --build=missing -cc core:non_interactive=True
